/.vscode
/backup
/banlist.json
/boom
/cache
/code.json
/config.json
/config2.json
/config3.json
/creeper.js
/main2.js
/mcuser.json
/music
/node_modules
/pitrue
/quq.json
/test.js
/token.json
/data.json
/server.json
/user.json
user.json
/events/bot2
/events/bot3
/function/Music